.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .img__buttons button {
    height: 34px;
    width: 34px;
    border-radius: 50%;
}

.slider__img {
    width: 700px;
    height: 350px;
    min-width: 700px;
}

.slider__img img {
    width: 100%;
}

.slider__imgs {
    display: flex;
    position: absolute;
    transition: left 500ms;
    left: 0;
}

.slider__imgs-wrapper {
    width: 700px;
    overflow: hidden;
    position: relative;
    height: 400px;
}

.img__buttons {
    display: flex;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}